@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins';
}

:root{
    --bg-color: #1A120B;
    --second-bg-color: #3C2A21;
    --text-color: #fff;
    --main-color: #EB1D36;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.portfolio{
    min-height: fit-content;
    padding-bottom: 10rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    transition: 0.3s ease-in;
    text-shadow: 1px 1px 4px rgb(104, 143, 147);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*home page*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img{
    width: 40vw;
}

.home-img img{
    width: 100%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.home-content h3:nth-child(3){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background: transparent;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #EB1D36;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}

.home-content a{
    text-decoration: none;
}

.home-content h3 span{
    text-align: center;
    color: var(--main-color);
}

.btn{
    color: var(--second-bg-color);
    font-size: 1.6rem;
    background-color: var(--main-color);
    padding: 1rem 2.7rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem  var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5 ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    width:30vw;
    animation: floatImage 4s ease-in-out infinite;
}
.about-img {
    margin-right: 2rem;
}

.about-info h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.about-info h3{
    font-size: 2.6rem;
    font-weight: 700;
}
.about-info p{
    font-size: 1.6rem;
    margin: 2rem 0.3rem;
}

.about-info span{
    color: var(--main-color);
}

.services{
    text-align: center;
    padding-bottom: 6rem;
}

.services h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 5rem;
}

.services h1 span{
    color: var(--main-color);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 2rem;  
}
.services-plate{
    flex: 1 1 3rem;
    height: 35rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-radius: 20px;
    transition: .5s ease;
}
.services-plate:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-plate i{
    font-size: 5rem;
    color: var(--main-color);
}

.services-plate p{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services-plate p a{
    color:var(--main-color)
}

.services-plate h3{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.portfolio{
    background-color: var(--second-bg-color);
    text-align: center;
    /* padding-bottom: 2rem; */
}

.portfolio h1{
    margin-bottom: 4rem;
    font-size: 5.6rem;
    font-weight: 700;
}

.portfolio h1 span{
    color: var(--main-color);
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box{
    height: 22rem;
}

.portfolio-box img{
    width:100%;
    min-height: 100px;
    transition: 0.5s ease;
    object-fit: fill;
}

.portfolio-box img:hover{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.8),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translate(0);
}

.portfolio-layer h2{
    font-weight: 700;
    font-size: 2.6rem;
    padding: .5rem .5rem;
}

.portfolio-layer p{
    font-size: 1.3rem;
    padding: .5rem .5rem;
}

.portfolio-layer a i{
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 2rem;
    padding: 1rem 1rem;
    margin: 2rem ,5rem;
    transition: .5s ease;
}

.portfolio-layer a i:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
}

.contact{
    min-height: auto;
}
.contact h1{
    margin-bottom: 4rem;
    font-size: 5.6rem;
    font-weight: 700;
    text-align: center;
}

.contact h1 span{
    color: var(--main-color);
}

.contact form{
    max-width: 70rem;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form .input-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-1 input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem 1.5rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    margin: 0.7rem 0;
}

.contact form .input-1 input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .btn:active{
    background-color:rgb(0, 146, 157);
    color: var(--text-color);
}

footer{
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .left p span{
    color: var(--main-color);
}

footer .left p{
    font-size: 1.5rem;
}



@media(max-width:1000px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }

    .home-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home-content p{
        text-align: center;
    }

    .about{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 760px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
        text-align: center;
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }

    .home{
        display: flex;
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content img{
        width: 70vw;
        margin-top: 4rem;
    }

    /* .home-img img{
        display: none;
    } */

    .about{
        flex-direction: column-reverse;
    }
    .about-info h1{
        font-size: 5rem;
    }

    .about-info h3{
        font-size: 3rem;
        color: var(--main-color);
    }

    .about-info p{
        margin-bottom: 4rem;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }

    .form-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3rem;
    }
}

@media(max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .contact form .input-1 input{
        width: 100%;
    }
    .home-img img{
        display: none;
    }
    .about-img img{
        display: none;
    }
    .home-content h1 span{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
}

@media(max-width:365px){
    .home-img{
        width: 90vw;
    }

    .about-img{
        width: 90vw;
    }
}